node-red/flows.json
[
    {
        "id": "f6f2187d.f17a78",
        "type": "tab",
        "label": "Predictive Temperature Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "mqtt_in_data",
        "type": "mqtt in",
        "z": "f6f2187d.f17a78",
        "name": "Temperature Data",
        "topic": "sensors/+/project33/+/data",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "func_chart_series",
                "func_gauge_actual",
                "func_gauge_pred",
                "func_metrics",
                "func_real_status",
                "func_device_tracker",
                "func_route_device"
            ]
        ]
    },
    {
        "id": "mqtt_in_alerts",
        "type": "mqtt in",
        "z": "f6f2187d.f17a78",
        "name": "System Alerts",
        "topic": "alerts/+/project33/+/status",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "ui_text_status",
                "func_critical_toast",
                "func_alert_panel"
            ]
        ]
    },
    {
        "id": "mqtt_in_storage_health",
        "type": "mqtt in",
        "z": "f6f2187d.f17a78",
        "name": "Storage Health",
        "topic": "storage/+/project33/health",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "func_storage_health_fmt"
            ]
        ]
    },
    {
        "id": "mqtt_in_export_result",
        "type": "mqtt in",
        "z": "f6f2187d.f17a78",
        "name": "CSV Export Result",
        "topic": "storage/+/project33/export/result",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "func_export_result_fmt"
            ]
        ]
    },
    {
        "id": "ui_slider_threshold",
        "type": "ui_slider",
        "z": "f6f2187d.f17a78",
        "name": "Threshold Slider",
        "label": "Alert Threshold",
        "tooltip": "Set predictive alert threshold (degC)",
        "group": "control_group",
        "order": 1,
        "width": 12,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "28",
        "max": "45",
        "step": 0.5,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "func_threshold_payload"
            ]
        ]
    },
    {
        "id": "ui_button_export_csv",
        "type": "ui_button",
        "z": "f6f2187d.f17a78",
        "name": "Export CSV",
        "group": "control_group",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Export Last 60m CSV",
        "tooltip": "Generate CSV export from persisted telemetry",
        "color": "#ffffff",
        "bgcolor": "#0f77c6",
        "icon": "file_download",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "func_export_cmd_payload"
            ]
        ]
    },
    {
        "id": "func_threshold_payload",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Publish Threshold Control",
        "func": "var threshold = Number(msg.payload);\nif (Number.isNaN(threshold)) { return null; }\nmsg.topic = \"controls/group_33/project33/threshold\";\nmsg.payload = { threshold: threshold };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "mqtt_out_control"
            ]
        ]
    },
    {
        "id": "mqtt_out_control",
        "type": "mqtt out",
        "z": "f6f2187d.f17a78",
        "name": "Send Threshold",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "func_export_cmd_payload",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Build CSV Export Command",
        "func": "msg.topic = \"storage/group_33/project33/export\";\nmsg.payload = { minutes: 60 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "mqtt_out_export_cmd"
            ]
        ]
    },
    {
        "id": "mqtt_out_export_cmd",
        "type": "mqtt out",
        "z": "f6f2187d.f17a78",
        "name": "Send CSV Export Command",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "ui_template_banner",
        "type": "ui_template",
        "z": "f6f2187d.f17a78",
        "group": "temp_group",
        "name": "Console Banner",
        "order": 0,
        "width": 12,
        "height": 1,
        "format": "<div class=\"console-banner\">\n  <div class=\"banner-title\">PLANT LINE A - EDGE FORECAST CONSOLE</div>\n  <div class=\"banner-meta\">LIVE SIGNALS | MQTT BUS | PREDICTIVE MONITORING</div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "func_chart_series",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Format Temp Series",
        "func": "// Actual temperature \u2014 plotted at the moment it was measured.\nvar topicParts = (msg.topic || \"\").split(\"/\");\nvar deviceId = topicParts.length >= 4 ? topicParts[3] : \"device\";\nvar actual = Number(msg.payload.actual_temp);\nvar sampleTs = Date.parse(msg.payload.timestamp || \"\");\n\n// Predicted temperature \u2014 plotted at the future time it targets (predicted_for).\n// With a 10 s horizon this point appears just ahead of the actual line,\n// and the actual line will catch up to it within a few samples.\nvar predicted = msg.payload.predicted_temp;\nvar forecastTs = Date.parse(msg.payload.predicted_for || \"\");\n\nif (!Number.isNaN(actual) && !Number.isNaN(sampleTs)) {\n    node.send({ topic: deviceId + \" Actual\", payload: actual, timestamp: sampleTs });\n}\n\nif (typeof predicted === \"number\" && !Number.isNaN(predicted) && !Number.isNaN(forecastTs)) {\n    node.send({ topic: deviceId + \" Predicted\", payload: predicted, timestamp: forecastTs });\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "ui_chart_temp"
            ]
        ]
    },
    {
        "id": "func_gauge_actual",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Actual Gauge Value",
        "func": "var actual = Number(msg.payload.actual_temp);\nif (Number.isNaN(actual)) { return null; }\nmsg.payload = actual;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "ui_gauge_temp"
            ]
        ]
    },
    {
        "id": "func_gauge_pred",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Predicted Gauge Value",
        "func": "var predicted = msg.payload.predicted_temp;\nif (typeof predicted !== \"number\" || Number.isNaN(predicted)) { return null; }\nmsg.payload = predicted;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "ui_gauge_pred"
            ]
        ]
    },
    {
        "id": "func_metrics",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Build Insights",
        "func": "var deviceId = msg.payload.device_id;\nif (!deviceId) {\n    var topicParts = (msg.topic || \"\").split(\"/\");\n    deviceId = topicParts.length >= 4 ? topicParts[3] : \"device\";\n}\n\nvar actual      = Number(msg.payload.actual_temp);\nvar predicted   = (typeof msg.payload.predicted_temp === \"number\") ? Number(msg.payload.predicted_temp) : null;\nvar avg         = Number(msg.payload.window_avg);\nvar trend       = msg.payload.trend || \"warming_up\";\nvar threshold   = Number(msg.payload.threshold);\nvar horizonSec  = Number(msg.payload.prediction_horizon_sec);\nvar ts          = msg.payload.timestamp || \"\";\nvar forecastTs  = Date.parse(msg.payload.predicted_for || \"\");\nvar sampleTs    = Date.parse(ts);\n\n// Anomaly counter (per device)\nvar anomalyCounts = context.get(\"anomalyCounts\") || {};\nvar anomalyCount = anomalyCounts[deviceId] || 0;\nif (msg.payload.is_anomaly === true) {\n    anomalyCount += 1;\n    anomalyCounts[deviceId] = anomalyCount;\n    context.set(\"anomalyCounts\", anomalyCounts);\n}\n\n// Instantaneous abs error (predicted this cycle vs actual this cycle).\n// Not a true validation \u2014 just shows how far the model is from current.\nvar absError = null;\nif (predicted !== null && !Number.isNaN(predicted) && !Number.isNaN(actual)) {\n    absError = Math.abs(predicted - actual);\n}\n\n// --- Lag validation ---\n// Store each forecast keyed by the future timestamp it targets.\n// When an actual reading arrives whose timestamp is close to a stored\n// forecast target, compare them \u2014 that is the true forecast accuracy.\n//\n// Tolerance: horizon is 10 s, samples arrive every 2-5 s, so we allow\n// \u00b16 s (6000 ms) to find a matching actual for a given forecast.\nvar HORIZON_MS   = horizonSec * 1000;\nvar TOLERANCE_MS = 6000;\n\nvar pendingForecastsByDevice = context.get(\"pendingForecasts\") || {};\nvar pendingForecasts = pendingForecastsByDevice[deviceId] || [];\n\n// Store new forecast\nif (!Number.isNaN(forecastTs) && predicted !== null && !Number.isNaN(predicted)) {\n    pendingForecasts.push({ ts: forecastTs, val: predicted });\n}\n\n// Expire forecasts older than horizon + tolerance (they will never be matched)\nif (!Number.isNaN(sampleTs)) {\n    pendingForecasts = pendingForecasts.filter(function(item) {\n        return (sampleTs - item.ts) < (HORIZON_MS + TOLERANCE_MS + 5000);\n    });\n}\n\n// Try to match the current actual reading to a pending forecast\nvar lagValidation = null;\nif (!Number.isNaN(sampleTs) && !Number.isNaN(actual) && pendingForecasts.length > 0) {\n    var bestIndex = -1;\n    var bestDiff  = Number.MAX_SAFE_INTEGER;\n    for (var i = 0; i < pendingForecasts.length; i++) {\n        var diff = Math.abs(sampleTs - pendingForecasts[i].ts);\n        if (diff < bestDiff) {\n            bestDiff  = diff;\n            bestIndex = i;\n        }\n    }\n    if (bestIndex >= 0 && bestDiff <= TOLERANCE_MS) {\n        lagValidation = Math.abs(actual - pendingForecasts[bestIndex].val);\n        pendingForecasts.splice(bestIndex, 1);\n    }\n}\n\npendingForecastsByDevice[deviceId] = pendingForecasts;\ncontext.set(\"pendingForecasts\", pendingForecastsByDevice);\n\nreturn [\n    { payload: deviceId + \": \" + trend.toUpperCase() },\n    { payload: deviceId + \": \" + (Number.isNaN(avg) ? \"N/A\" : avg.toFixed(2) + \" degC\") },\n    { payload: deviceId + \": \" + String(anomalyCount) },\n    { payload: deviceId + \": \" + (lagValidation === null ? \"N/A\" : lagValidation.toFixed(2) + \" degC\") },\n    lagValidation === null ? null : { topic: deviceId + \" Forecast Error\", payload: lagValidation },\n    { payload: deviceId + \": \" + (Number.isNaN(threshold) ? \"N/A\" : threshold.toFixed(1) + \" degC\") },\n    { payload: deviceId + \": \" + ts },\n    { payload: deviceId + \": \" + (lagValidation === null ? \"N/A\" : lagValidation.toFixed(2) + \" degC\") },\n    { payload: deviceId + \": \" + (Number.isNaN(horizonSec) ? \"N/A\" : Math.round(horizonSec) + \" seconds ahead\") }\n];",
        "outputs": 9,
        "noerr": 0,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "ui_text_trend"
            ],
            [
                "ui_text_avg"
            ],
            [
                "ui_text_anomaly"
            ],
            [
                "ui_text_delta"
            ],
            [
                "ui_chart_error"
            ],
            [
                "ui_text_threshold"
            ],
            [
                "ui_text_timestamp"
            ],
            [
                "ui_text_lag_validation"
            ],
            [
                "ui_text_prediction_horizon"
            ]
        ]
    },
    {
        "id": "func_alert_panel",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Alert Panel Payload",
        "func": "if (!msg.payload) { return null; }\nvar deviceId = msg.payload.device_id || \"device\";\nmsg.payload = {\n    status: msg.payload.status || \"UNKNOWN\",\n    message: msg.payload.message || \"No message\",\n    device_id: deviceId\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "ui_template_alert_panel"
            ]
        ]
    },
    {
        "id": "ui_template_alert_panel",
        "type": "ui_template",
        "z": "f6f2187d.f17a78",
        "group": "control_group",
        "name": "Alert Panel",
        "order": 1,
        "width": 12,
        "height": 2,
        "format": "<div class=\"alert-panel\">\n  <div class=\"alert-header\">\n    <span class=\"alert-indicator {{msg.payload.status === 'CRITICAL' ? 'critical' : 'normal'}}\"></span>\n    <span class=\"alert-title\">ALERT BUS</span>\n    <span class=\"alert-device\">{{msg.payload.device_id}}</span>\n  </div>\n  <div class=\"alert-body\">\n    <span class=\"alert-status {{msg.payload.status === 'CRITICAL' ? 'critical' : 'normal'}}\">{{msg.payload.status}}</span>\n    <span class=\"alert-message\">{{msg.payload.message}}</span>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "func_device_tracker",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Track Active Devices",
        "func": "var deviceId = msg.payload.device_id;\nif (!deviceId) {\n    var topicParts = (msg.topic || \"\").split(\"/\");\n    deviceId = topicParts.length >= 4 ? topicParts[3] : \"device\";\n}\n\nvar activeDevices = context.get(\"activeDevices\") || {};\nvar now = Date.now();\nactiveDevices[deviceId] = now;\n\n// Expire devices not seen in the last 5 minutes.\nvar cutoff = now - (5 * 60 * 1000);\nObject.keys(activeDevices).forEach(function(key) {\n    if (activeDevices[key] < cutoff) {\n        delete activeDevices[key];\n    }\n});\n\ncontext.set(\"activeDevices\", activeDevices);\nvar ids = Object.keys(activeDevices).sort();\n\nreturn [\n    { payload: String(ids.length) },\n    { payload: ids.length ? ids.join(\", \") : \"N/A\" },\n    { payload: ids.map(function(id) {\n        return {\n            device_id: id,\n            last_seen: new Date(activeDevices[id]).toISOString()\n        };\n    }) }\n];",
        "outputs": 3,
        "noerr": 0,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "ui_text_device_count"
            ],
            [
                "ui_text_device_list"
            ],
            [
                "ui_template_device_table"
            ]
        ]
    },
    {
        "id": "ui_text_device_count",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "control_group",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "Active Devices",
        "label": "Active Devices",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "ui_text_device_list",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "control_group",
        "order": 11,
        "width": 12,
        "height": 1,
        "name": "Device List",
        "label": "Device List",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_template_device_table",
        "type": "ui_template",
        "z": "f6f2187d.f17a78",
        "group": "control_group",
        "name": "Device Last Seen Table",
        "order": 12,
        "width": 12,
        "height": 3,
        "format": "<div class=\"device-table\">\n  <div class=\"device-table-header\">\n    <span>Device</span>\n    <span>Last Seen (UTC)</span>\n  </div>\n  <div class=\"device-table-body\">\n    <div class=\"device-table-row\" ng-repeat=\"row in msg.payload\">\n      <span class=\"device-id\">{{row.device_id}}</span>\n      <span class=\"device-seen\">{{row.last_seen}}</span>\n    </div>\n    <div class=\"device-table-empty\" ng-if=\"!msg.payload || !msg.payload.length\">No devices yet</div>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "func_real_status",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Real Temperature Status",
        "func": "var deviceId = msg.payload.device_id;\nif (!deviceId) {\n    var topicParts = (msg.topic || \"\").split(\"/\");\n    deviceId = topicParts.length >= 4 ? topicParts[3] : \"device\";\n}\nvar actual    = Number(msg.payload.actual_temp);\nvar threshold = Number(msg.payload.threshold);\nif (Number.isNaN(actual) || Number.isNaN(threshold)) { return null; }\nvar isCritical = actual > threshold;\nmsg.payload = {\n    status:  isCritical ? \"CRITICAL\" : \"NORMAL\",\n    message: isCritical\n        ? deviceId + \": actual temperature \" + actual.toFixed(2) + \" degC exceeds threshold \" + threshold.toFixed(1) + \" degC\"\n        : deviceId + \": actual temperature is within safe range.\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "ui_text_status_real"
            ]
        ]
    },
    {
        "id": "func_storage_health_fmt",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Format Storage Health",
        "func": "var rows      = Number(msg.payload.row_count);\nvar lastWrite = msg.payload.last_write;\nreturn [\n    { payload: Number.isNaN(rows) ? \"N/A\" : String(rows) },\n    { payload: lastWrite ? String(lastWrite) : \"N/A\" }\n];",
        "outputs": 2,
        "noerr": 0,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "ui_text_storage_rows"
            ],
            [
                "ui_text_storage_last_write"
            ]
        ]
    },
    {
        "id": "func_export_result_fmt",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Format CSV Export Result",
        "func": "if (!msg.payload) { msg.payload = \"No export response yet\"; return msg; }\nif (msg.payload.status === \"OK\") {\n    msg.payload = \"Exported \" + msg.payload.row_count + \" rows to \" + msg.payload.csv_path;\n} else {\n    msg.payload = \"Export failed: \" + (msg.payload.error || \"unknown error\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "ui_text_export_result"
            ]
        ]
    },
    {
        "id": "func_critical_toast",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Critical Toast",
        "func": "if (msg.payload && msg.payload.status === \"CRITICAL\") {\n    msg.payload = msg.payload.message;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "ui_toast_critical"
            ]
        ]
    },
    {
        "id": "ui_chart_temp",
        "type": "ui_chart",
        "z": "f6f2187d.f17a78",
        "name": "Actual vs Predicted",
        "group": "temp_group",
        "order": 1,
        "width": 8,
        "height": 6,
        "label": "Actual vs Predicted Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for telemetry...",
        "dot": false,
        "ymin": "20",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2aa3ff",
            "#ffb020",
            "#22c55e",
            "#f97316",
            "#8b5cf6",
            "#e11d48",
            "#14b8a6",
            "#a3e635"
        ],
        "outputs": 1,
        "x": 700,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_chart_error",
        "type": "ui_chart",
        "z": "f6f2187d.f17a78",
        "name": "Prediction Error",
        "group": "temp_group",
        "order": 2,
        "width": 4,
        "height": 6,
        "label": "Forecast Error (H-step aligned)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1800",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#ffb020",
            "#2aa3ff",
            "#22c55e",
            "#f97316"
        ],
        "outputs": 1,
        "x": 690,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_gauge_temp",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "Current Temp",
        "group": "kpi_group",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Actual Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#0f9960",
            "#d9822b",
            "#db3737"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "ui_gauge_pred",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "Predicted Temp",
        "group": "kpi_group",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Predicted Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#137cbd",
            "#d9822b",
            "#db3737"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "ui_text_status",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "kpi_group",
        "order": 3,
        "width": 12,
        "height": 1,
        "name": "Status Display",
        "label": "Operational Status (Predicted)",
        "format": "<span class='status-pill {{msg.payload.status === \"CRITICAL\" ? \"critical\" : \"normal\"}}'>{{msg.payload.status}}</span> <span class='status-message'>{{msg.payload.message}}</span>",
        "layout": "row-spread",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "ui_text_status_real",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "kpi_group",
        "order": 4,
        "width": 12,
        "height": 1,
        "name": "Real Status Display",
        "label": "Operational Status (Real)",
        "format": "<span class='status-pill {{msg.payload.status === \"CRITICAL\" ? \"critical\" : \"normal\"}}'>{{msg.payload.status}}</span> <span class='status-message'>{{msg.payload.message}}</span>",
        "layout": "row-spread",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "ui_text_trend",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "kpi_group",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Trend",
        "label": "Trend",
        "format": "<b>{{msg.payload}}</b>",
        "layout": "row-left",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "ui_text_avg",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "kpi_group",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Rolling Average",
        "label": "Window Avg",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "ui_text_anomaly",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "kpi_group",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Anomaly Count",
        "label": "Anomalies",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "ui_text_delta",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "kpi_group",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Forecast Error",
        "label": "Forecast Error",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "ui_text_threshold",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "control_group",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Current Threshold",
        "label": "Active Threshold",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "ui_text_lag_validation",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "control_group",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Lag Validation Error",
        "label": "Forecast Validation Error",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 710,
        "y": 650,
        "wires": []
    },
    {
        "id": "ui_text_prediction_horizon",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "control_group",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Prediction Horizon",
        "label": "Prediction Horizon",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 700,
        "y": 680,
        "wires": []
    },
    {
        "id": "ui_text_storage_rows",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "control_group",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "Stored Rows",
        "label": "Stored Rows",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 700,
        "y": 710,
        "wires": []
    },
    {
        "id": "ui_text_storage_last_write",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "control_group",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "Storage Last Write",
        "label": "Storage Last Write",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 710,
        "y": 740,
        "wires": []
    },
    {
        "id": "ui_text_export_result",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "control_group",
        "order": 9,
        "width": 12,
        "height": 1,
        "name": "CSV Export Result Text",
        "label": "CSV Export Result",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 720,
        "y": 770,
        "wires": []
    },
    {
        "id": "ui_text_timestamp",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "control_group",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Last Update",
        "label": "Last Reading",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 680,
        "y": 620,
        "wires": []
    },
    {
        "id": "ui_toast_critical",
        "type": "ui_toast",
        "z": "f6f2187d.f17a78",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Critical Popup",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "temp_group",
        "type": "ui_group",
        "name": "Forecast Trends",
        "tab": "home_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "kpi_group",
        "type": "ui_group",
        "name": "Process KPIs",
        "tab": "home_tab",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "control_group",
        "type": "ui_group",
        "name": "Control Panel",
        "tab": "home_tab",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "home_tab",
        "type": "ui_tab",
        "name": "Edge Forecast Console",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "ui_template_theme",
        "type": "ui_template",
        "z": "f6f2187d.f17a78",
        "group": "temp_group",
        "name": "Dashboard Theme",
        "order": 99,
        "width": 0,
        "height": 0,
        "format": "<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n<link href=\"https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap\" rel=\"stylesheet\">\n<style>\n:root {\n  --bg: #0f141a;\n  --bg-2: #1a232d;\n  --panel: #121a22;\n  --panel-2: #16212b;\n  --ink: #e7edf4;\n  --muted: #a2b3c7;\n  --line: #243140;\n  --accent: #ffb020;\n  --accent-2: #2aa3ff;\n  --good: #22c55e;\n  --critical: #f97316;\n  --danger: #ef4444;\n}\n\n.nr-dashboard-theme md-content {\n  background:\n    linear-gradient(135deg, rgba(255,176,32,0.12), rgba(42,163,255,0.06)),\n    repeating-linear-gradient(0deg, rgba(36,49,64,0.35) 0, rgba(36,49,64,0.35) 1px, transparent 1px, transparent 24px),\n    repeating-linear-gradient(90deg, rgba(36,49,64,0.35) 0, rgba(36,49,64,0.35) 1px, transparent 1px, transparent 24px),\n    radial-gradient(circle at 20% 15%, rgba(42,163,255,0.18), transparent 40%),\n    linear-gradient(160deg, var(--bg), var(--bg-2));\n  font-family: 'Oswald', sans-serif;\n  color: var(--ink);\n}\n\n.nr-dashboard-theme md-toolbar {\n  background: linear-gradient(90deg, #0b1117, #17212b);\n  color: #f8fafc;\n  letter-spacing: 0.18em;\n  font-weight: 700;\n  text-transform: uppercase;\n  border-bottom: 1px solid rgba(255,176,32,0.35);\n}\n\n.nr-dashboard-theme .nr-dashboard-cardpanel {\n  background: linear-gradient(180deg, rgba(22,33,43,0.95), rgba(18,26,34,0.95));\n  border: 1px solid var(--line);\n  border-radius: 14px;\n  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.35);\n  overflow: hidden;\n  position: relative;\n}\n\n.nr-dashboard-theme .nr-dashboard-cardpanel:before {\n  content: \"\";\n  position: absolute;\n  inset: 0 0 auto 0;\n  height: 2px;\n  background: linear-gradient(90deg, var(--accent), var(--accent-2));\n}\n\n.nr-dashboard-theme .nr-dashboard-cardtitle {\n  font-family: 'Space Mono', monospace;\n  color: #f8fafc;\n  font-size: 12px;\n  letter-spacing: 0.12em;\n  text-transform: uppercase;\n}\n\n.nr-dashboard-theme .nr-dashboard-text p,\n.nr-dashboard-theme .value {\n  color: #f8fafc;\n  font-weight: 600;\n  font-size: 13px;\n}\n\n.nr-dashboard-theme .nr-dashboard-text .label {\n  color: #d1d5db;\n  font-weight: 600;\n  font-size: 12px;\n}\n\n.nr-dashboard-theme .status-pill {\n  display: inline-block;\n  padding: 3px 12px;\n  border-radius: 999px;\n  font-size: 11px;\n  letter-spacing: 0.18em;\n  font-family: 'Space Mono', monospace;\n  margin-right: 8px;\n  border: 1px solid transparent;\n}\n\n.nr-dashboard-theme .status-pill.normal {\n  background: rgba(34,197,94,0.15);\n  color: var(--good);\n  border-color: rgba(34,197,94,0.5);\n}\n\n.nr-dashboard-theme .status-pill.critical {\n  background: rgba(239,68,68,0.18);\n  color: var(--danger);\n  border-color: rgba(239,68,68,0.55);\n}\n\n.nr-dashboard-theme .status-message {\n  color: #f8fafc;\n}\n\n.nr-dashboard-theme md-slider .md-thumb,\n.nr-dashboard-theme md-slider .md-track.md-track-fill {\n  background-color: var(--accent);\n}\n\n.nr-dashboard-theme md-slider .md-track {\n  background-color: rgba(255,255,255,0.12);\n}\n\n.nr-dashboard-theme .nr-dashboard-chart text {\n  fill: #d0dbe6;\n}\n\n.nr-dashboard-theme .nr-dashboard-chart .chart-container {\n  border-radius: 10px;\n}\n\n.nr-dashboard-theme .nr-dashboard-toast {\n  border-radius: 10px;\n  font-weight: 700;\n  background: rgba(239,68,68,0.92);\n  color: #0b1117;\n}\n\n.console-banner {\n  display: flex;\n  flex-direction: column;\n  gap: 4px;\n  padding: 10px 16px;\n  border: 1px solid rgba(255,176,32,0.35);\n  background: linear-gradient(90deg, rgba(15,20,26,0.95), rgba(26,35,45,0.95));\n  text-transform: uppercase;\n}\n\n.banner-title {\n  font-weight: 700;\n  letter-spacing: 0.24em;\n  font-size: 14px;\n}\n\n.banner-meta {\n  font-family: 'Space Mono', monospace;\n  color: var(--muted);\n  letter-spacing: 0.16em;\n  font-size: 10px;\n}\n\n.alert-panel {\n  display: flex;\n  flex-direction: column;\n  gap: 8px;\n  padding: 10px 12px;\n  border: 1px solid rgba(255,176,32,0.25);\n  background: linear-gradient(180deg, rgba(16,22,28,0.95), rgba(20,28,36,0.95));\n}\n\n.alert-header {\n  display: flex;\n  align-items: center;\n  gap: 10px;\n  font-family: 'Space Mono', monospace;\n  letter-spacing: 0.12em;\n}\n\n.alert-indicator {\n  width: 10px;\n  height: 10px;\n  border-radius: 999px;\n  background: var(--good);\n  box-shadow: 0 0 12px rgba(34,197,94,0.7);\n}\n\n.alert-indicator.critical {\n  background: var(--danger);\n  box-shadow: 0 0 14px rgba(239,68,68,0.85);\n  animation: pulse-alert 1.2s ease infinite;\n}\n\n.alert-title {\n  color: var(--muted);\n  font-size: 11px;\n}\n\n.alert-device {\n  color: var(--accent);\n  font-size: 11px;\n}\n\n.alert-body {\n  display: flex;\n  flex-direction: column;\n  gap: 6px;\n}\n\n.alert-status {\n  font-family: 'Space Mono', monospace;\n  font-size: 12px;\n  letter-spacing: 0.18em;\n}\n\n.alert-status.critical {\n  color: var(--danger);\n}\n\n.alert-status.normal {\n  color: var(--good);\n}\n\n.alert-message {\n  color: #dbe7f3;\n  font-size: 12px;\n}\n\n.device-table {\n  display: flex;\n  flex-direction: column;\n  gap: 6px;\n  padding: 10px 12px;\n  border: 1px solid rgba(42,163,255,0.25);\n  background: linear-gradient(180deg, rgba(16,22,28,0.95), rgba(20,28,36,0.95));\n}\n\n.device-table-header {\n  display: flex;\n  justify-content: space-between;\n  font-family: 'Space Mono', monospace;\n  color: var(--muted);\n  letter-spacing: 0.12em;\n  font-size: 11px;\n  text-transform: uppercase;\n}\n\n.device-table-body {\n  display: flex;\n  flex-direction: column;\n  gap: 6px;\n}\n\n.device-table-row {\n  display: flex;\n  justify-content: space-between;\n  padding: 6px 8px;\n  border: 1px solid rgba(36,49,64,0.6);\n  border-radius: 8px;\n  background: rgba(18,26,34,0.6);\n  font-family: 'Space Mono', monospace;\n  font-size: 11px;\n}\n\n.device-id {\n  color: var(--accent);\n  letter-spacing: 0.08em;\n}\n\n.device-seen {\n  color: #cfe2f5;\n}\n\n.device-table-empty {\n  color: var(--muted);\n  font-size: 12px;\n}\n\n@keyframes panel-in {\n  from { transform: translateY(8px); opacity: 0; }\n  to { transform: translateY(0); opacity: 1; }\n}\n\n@keyframes pulse-alert {\n  0% { transform: scale(1); opacity: 0.9; }\n  50% { transform: scale(1.25); opacity: 0.4; }\n  100% { transform: scale(1); opacity: 0.9; }\n}\n\n.nr-dashboard-theme .nr-dashboard-cardpanel {\n  animation: panel-in 420ms ease both;\n}\n\n@media (max-width: 768px) {\n  .nr-dashboard-theme md-toolbar {\n    letter-spacing: 0.08em;\n    font-size: 14px;\n  }\n\n  .nr-dashboard-theme .nr-dashboard-cardpanel {\n    border-radius: 12px;\n    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);\n  }\n}\n\n@media (prefers-reduced-motion: reduce) {\n  .nr-dashboard-theme .nr-dashboard-cardpanel {\n    animation: none;\n  }\n\n  .alert-indicator.critical {\n    animation: none;\n  }\n}\n</style>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 180,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "func_route_device",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "Route Device Tabs",
        "func": "var deviceId = msg.payload.device_id;\nif (!deviceId) {\n    var topicParts = (msg.topic || \"\").split(\"/\");\n    deviceId = topicParts.length >= 4 ? topicParts[3] : \"device\";\n}\n\nvar outputs = [null, null, null, null, null];\nvar indexMap = {\"device_01\": 0, \"device_02\": 1, \"device_03\": 2, \"device_04\": 3, \"device_05\": 4};\nvar idx = indexMap[deviceId];\nif (idx === undefined) { return outputs; }\noutputs[idx] = msg;\nreturn outputs;",
        "outputs": 5,
        "noerr": 0,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "func_device_actual_01",
                "func_device_pred_01",
                "func_device_status_01",
                "func_device_last_seen_01"
            ],
            [
                "func_device_actual_02",
                "func_device_pred_02",
                "func_device_status_02",
                "func_device_last_seen_02"
            ],
            [
                "func_device_actual_03",
                "func_device_pred_03",
                "func_device_status_03",
                "func_device_last_seen_03"
            ],
            [
                "func_device_actual_04",
                "func_device_pred_04",
                "func_device_status_04",
                "func_device_last_seen_04"
            ],
            [
                "func_device_actual_05",
                "func_device_pred_05",
                "func_device_status_05",
                "func_device_last_seen_05"
            ]
        ]
    },
    {
        "id": "tab_device_01",
        "type": "ui_tab",
        "name": "Device 01",
        "icon": "dns",
        "order": 11
    },
    {
        "id": "group_device_01",
        "type": "ui_group",
        "name": "Device 01 KPIs",
        "tab": "tab_device_01",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_gauge_actual_01",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "device_01 Actual",
        "group": "group_device_01",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Actual Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#22c55e",
            "#ffb020",
            "#ef4444"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_gauge_pred_01",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "device_01 Predicted",
        "group": "group_device_01",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Predicted Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#2aa3ff",
            "#ffb020",
            "#ef4444"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "ui_text_status_01",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "group_device_01",
        "order": 3,
        "width": 12,
        "height": 1,
        "name": "device_01 Status",
        "label": "Operational Status",
        "format": "<span class='status-pill {{msg.payload.status === \"CRITICAL\" ? \"critical\" : \"normal\"}}'>{{msg.payload.status}}</span> <span class='status-message'>{{msg.payload.message}}</span>",
        "layout": "row-spread",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui_text_last_seen_01",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "group_device_01",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "device_01 Last Seen",
        "label": "Last Seen",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "func_device_actual_01",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_01 Actual",
        "func": "var actual = Number(msg.payload.actual_temp);\nif (Number.isNaN(actual)) { return null; }\nmsg.payload = actual;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "ui_gauge_actual_01"
            ]
        ]
    },
    {
        "id": "func_device_pred_01",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_01 Predicted",
        "func": "var predicted = msg.payload.predicted_temp;\nif (typeof predicted !== \"number\" || Number.isNaN(predicted)) { return null; }\nmsg.payload = predicted;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "ui_gauge_pred_01"
            ]
        ]
    },
    {
        "id": "func_device_status_01",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_01 Status",
        "func": "var actual = Number(msg.payload.actual_temp);\nvar threshold = Number(msg.payload.threshold);\nif (Number.isNaN(actual) || Number.isNaN(threshold)) { return null; }\nvar isCritical = actual > threshold;\nmsg.payload = {\n    status: isCritical ? \"CRITICAL\" : \"NORMAL\",\n    message: isCritical\n        ? \"Actual temperature \" + actual.toFixed(2) + \" degC exceeds threshold \" + threshold.toFixed(1) + \" degC\"\n        : \"Actual temperature is within safe range.\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 180,
        "wires": [
            [
                "ui_text_status_01"
            ]
        ]
    },
    {
        "id": "func_device_last_seen_01",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_01 Last Seen",
        "func": "msg.payload = msg.payload.timestamp || \"N/A\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "ui_text_last_seen_01"
            ]
        ]
    },
    {
        "id": "tab_device_02",
        "type": "ui_tab",
        "name": "Device 02",
        "icon": "dns",
        "order": 12
    },
    {
        "id": "group_device_02",
        "type": "ui_group",
        "name": "Device 02 KPIs",
        "tab": "tab_device_02",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_gauge_actual_02",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "device_02 Actual",
        "group": "group_device_02",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Actual Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#22c55e",
            "#ffb020",
            "#ef4444"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "ui_gauge_pred_02",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "device_02 Predicted",
        "group": "group_device_02",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Predicted Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#2aa3ff",
            "#ffb020",
            "#ef4444"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui_text_status_02",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "group_device_02",
        "order": 3,
        "width": 12,
        "height": 1,
        "name": "device_02 Status",
        "label": "Operational Status",
        "format": "<span class='status-pill {{msg.payload.status === \"CRITICAL\" ? \"critical\" : \"normal\"}}'>{{msg.payload.status}}</span> <span class='status-message'>{{msg.payload.message}}</span>",
        "layout": "row-spread",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "ui_text_last_seen_02",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "group_device_02",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "device_02 Last Seen",
        "label": "Last Seen",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "func_device_actual_02",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_02 Actual",
        "func": "var actual = Number(msg.payload.actual_temp);\nif (Number.isNaN(actual)) { return null; }\nmsg.payload = actual;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "ui_gauge_actual_02"
            ]
        ]
    },
    {
        "id": "func_device_pred_02",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_02 Predicted",
        "func": "var predicted = msg.payload.predicted_temp;\nif (typeof predicted !== \"number\" || Number.isNaN(predicted)) { return null; }\nmsg.payload = predicted;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 180,
        "wires": [
            [
                "ui_gauge_pred_02"
            ]
        ]
    },
    {
        "id": "func_device_status_02",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_02 Status",
        "func": "var actual = Number(msg.payload.actual_temp);\nvar threshold = Number(msg.payload.threshold);\nif (Number.isNaN(actual) || Number.isNaN(threshold)) { return null; }\nvar isCritical = actual > threshold;\nmsg.payload = {\n    status: isCritical ? \"CRITICAL\" : \"NORMAL\",\n    message: isCritical\n        ? \"Actual temperature \" + actual.toFixed(2) + \" degC exceeds threshold \" + threshold.toFixed(1) + \" degC\"\n        : \"Actual temperature is within safe range.\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "ui_text_status_02"
            ]
        ]
    },
    {
        "id": "func_device_last_seen_02",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_02 Last Seen",
        "func": "msg.payload = msg.payload.timestamp || \"N/A\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "ui_text_last_seen_02"
            ]
        ]
    },
    {
        "id": "tab_device_03",
        "type": "ui_tab",
        "name": "Device 03",
        "icon": "dns",
        "order": 13
    },
    {
        "id": "group_device_03",
        "type": "ui_group",
        "name": "Device 03 KPIs",
        "tab": "tab_device_03",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_gauge_actual_03",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "device_03 Actual",
        "group": "group_device_03",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Actual Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#22c55e",
            "#ffb020",
            "#ef4444"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui_gauge_pred_03",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "device_03 Predicted",
        "group": "group_device_03",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Predicted Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#2aa3ff",
            "#ffb020",
            "#ef4444"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "ui_text_status_03",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "group_device_03",
        "order": 3,
        "width": 12,
        "height": 1,
        "name": "device_03 Status",
        "label": "Operational Status",
        "format": "<span class='status-pill {{msg.payload.status === \"CRITICAL\" ? \"critical\" : \"normal\"}}'>{{msg.payload.status}}</span> <span class='status-message'>{{msg.payload.message}}</span>",
        "layout": "row-spread",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "ui_text_last_seen_03",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "group_device_03",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "device_03 Last Seen",
        "label": "Last Seen",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "func_device_actual_03",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_03 Actual",
        "func": "var actual = Number(msg.payload.actual_temp);\nif (Number.isNaN(actual)) { return null; }\nmsg.payload = actual;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 180,
        "wires": [
            [
                "ui_gauge_actual_03"
            ]
        ]
    },
    {
        "id": "func_device_pred_03",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_03 Predicted",
        "func": "var predicted = msg.payload.predicted_temp;\nif (typeof predicted !== \"number\" || Number.isNaN(predicted)) { return null; }\nmsg.payload = predicted;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "ui_gauge_pred_03"
            ]
        ]
    },
    {
        "id": "func_device_status_03",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_03 Status",
        "func": "var actual = Number(msg.payload.actual_temp);\nvar threshold = Number(msg.payload.threshold);\nif (Number.isNaN(actual) || Number.isNaN(threshold)) { return null; }\nvar isCritical = actual > threshold;\nmsg.payload = {\n    status: isCritical ? \"CRITICAL\" : \"NORMAL\",\n    message: isCritical\n        ? \"Actual temperature \" + actual.toFixed(2) + \" degC exceeds threshold \" + threshold.toFixed(1) + \" degC\"\n        : \"Actual temperature is within safe range.\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "ui_text_status_03"
            ]
        ]
    },
    {
        "id": "func_device_last_seen_03",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_03 Last Seen",
        "func": "msg.payload = msg.payload.timestamp || \"N/A\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "ui_text_last_seen_03"
            ]
        ]
    },
    {
        "id": "tab_device_04",
        "type": "ui_tab",
        "name": "Device 04",
        "icon": "dns",
        "order": 14
    },
    {
        "id": "group_device_04",
        "type": "ui_group",
        "name": "Device 04 KPIs",
        "tab": "tab_device_04",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_gauge_actual_04",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "device_04 Actual",
        "group": "group_device_04",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Actual Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#22c55e",
            "#ffb020",
            "#ef4444"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "ui_gauge_pred_04",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "device_04 Predicted",
        "group": "group_device_04",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Predicted Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#2aa3ff",
            "#ffb020",
            "#ef4444"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "ui_text_status_04",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "group_device_04",
        "order": 3,
        "width": 12,
        "height": 1,
        "name": "device_04 Status",
        "label": "Operational Status",
        "format": "<span class='status-pill {{msg.payload.status === \"CRITICAL\" ? \"critical\" : \"normal\"}}'>{{msg.payload.status}}</span> <span class='status-message'>{{msg.payload.message}}</span>",
        "layout": "row-spread",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "ui_text_last_seen_04",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "group_device_04",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "device_04 Last Seen",
        "label": "Last Seen",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "func_device_actual_04",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_04 Actual",
        "func": "var actual = Number(msg.payload.actual_temp);\nif (Number.isNaN(actual)) { return null; }\nmsg.payload = actual;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "ui_gauge_actual_04"
            ]
        ]
    },
    {
        "id": "func_device_pred_04",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_04 Predicted",
        "func": "var predicted = msg.payload.predicted_temp;\nif (typeof predicted !== \"number\" || Number.isNaN(predicted)) { return null; }\nmsg.payload = predicted;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "ui_gauge_pred_04"
            ]
        ]
    },
    {
        "id": "func_device_status_04",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_04 Status",
        "func": "var actual = Number(msg.payload.actual_temp);\nvar threshold = Number(msg.payload.threshold);\nif (Number.isNaN(actual) || Number.isNaN(threshold)) { return null; }\nvar isCritical = actual > threshold;\nmsg.payload = {\n    status: isCritical ? \"CRITICAL\" : \"NORMAL\",\n    message: isCritical\n        ? \"Actual temperature \" + actual.toFixed(2) + \" degC exceeds threshold \" + threshold.toFixed(1) + \" degC\"\n        : \"Actual temperature is within safe range.\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "ui_text_status_04"
            ]
        ]
    },
    {
        "id": "func_device_last_seen_04",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_04 Last Seen",
        "func": "msg.payload = msg.payload.timestamp || \"N/A\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 260,
        "wires": [
            [
                "ui_text_last_seen_04"
            ]
        ]
    },
    {
        "id": "tab_device_05",
        "type": "ui_tab",
        "name": "Device 05",
        "icon": "dns",
        "order": 15
    },
    {
        "id": "group_device_05",
        "type": "ui_group",
        "name": "Device 05 KPIs",
        "tab": "tab_device_05",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_gauge_actual_05",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "device_05 Actual",
        "group": "group_device_05",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Actual Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#22c55e",
            "#ffb020",
            "#ef4444"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "ui_gauge_pred_05",
        "type": "ui_gauge",
        "z": "f6f2187d.f17a78",
        "name": "device_05 Predicted",
        "group": "group_device_05",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Predicted Temp",
        "label": "degC",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#2aa3ff",
            "#ffb020",
            "#ef4444"
        ],
        "seg1": "34",
        "seg2": "40",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "ui_text_status_05",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "group_device_05",
        "order": 3,
        "width": 12,
        "height": 1,
        "name": "device_05 Status",
        "label": "Operational Status",
        "format": "<span class='status-pill {{msg.payload.status === \"CRITICAL\" ? \"critical\" : \"normal\"}}'>{{msg.payload.status}}</span> <span class='status-message'>{{msg.payload.message}}</span>",
        "layout": "row-spread",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_text_last_seen_05",
        "type": "ui_text",
        "z": "f6f2187d.f17a78",
        "group": "group_device_05",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "device_05 Last Seen",
        "label": "Last Seen",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "func_device_actual_05",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_05 Actual",
        "func": "var actual = Number(msg.payload.actual_temp);\nif (Number.isNaN(actual)) { return null; }\nmsg.payload = actual;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "ui_gauge_actual_05"
            ]
        ]
    },
    {
        "id": "func_device_pred_05",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_05 Predicted",
        "func": "var predicted = msg.payload.predicted_temp;\nif (typeof predicted !== \"number\" || Number.isNaN(predicted)) { return null; }\nmsg.payload = predicted;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "ui_gauge_pred_05"
            ]
        ]
    },
    {
        "id": "func_device_status_05",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_05 Status",
        "func": "var actual = Number(msg.payload.actual_temp);\nvar threshold = Number(msg.payload.threshold);\nif (Number.isNaN(actual) || Number.isNaN(threshold)) { return null; }\nvar isCritical = actual > threshold;\nmsg.payload = {\n    status: isCritical ? \"CRITICAL\" : \"NORMAL\",\n    message: isCritical\n        ? \"Actual temperature \" + actual.toFixed(2) + \" degC exceeds threshold \" + threshold.toFixed(1) + \" degC\"\n        : \"Actual temperature is within safe range.\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 260,
        "wires": [
            [
                "ui_text_status_05"
            ]
        ]
    },
    {
        "id": "func_device_last_seen_05",
        "type": "function",
        "z": "f6f2187d.f17a78",
        "name": "device_05 Last Seen",
        "func": "msg.payload = msg.payload.timestamp || \"N/A\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "ui_text_last_seen_05"
            ]
        ]
    }
]